h1 {
  font-family: 'Roboto Slab', serif;
  background-color: : red;
}

body {
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}


/*About*/
.about-container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "block block1 block2" 
    "block3 block4 block5";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2fr 2fr;
}

@media screen and (max-width: 750px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "block block1"
    "block2 block3"
    "block4 block5";
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-container {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-areas:
    "block"
    "block1"
    "block2"
    "block3"
    "block4"
    "block5";
  }
}

@supports not (display: grid) {
  .about-container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .blocks {
    flex: 1 1 100%;
  }
}

.block {
  text-align: center;
}

/* About the site*/
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

    
  }

#mapid { height: 180px; }


/*clara's css*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

html,

footer {
background: #000000; color: #d3d3d3; }

body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

#container {
   height:100%;
}

/*end of clara's css*/