h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ddffff;
}

h2 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ddffff;
}

@keyframes wallpaper {
    0%   {background-color: #01013a;}
    35%  {background-color: #29002d;}
    75%  {background-color: #033a3a;}
    100% {background-color: #01013a;}
}

body {
  background-color: #01013a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  animation-name: wallpaper;
  animation-duration: 30s;
  height: 100vh;
}

div .all_body {
  margin-top: 10%;
}


a {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ddffff; 
  padding-right: 0.5em;
  line-height: 110%;
}

p {
 color: #ddffff;
 font-size: 12pt;  
}

nav ul {
  list-style: none;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

#mapid { 
  min-height: 300px;
  height: 60%;
  width: 70%; 
  position: relative;
  }

input[type=text], select {
    width: 30%;
    min-width: 170px;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 10%;
    min-width: 75px;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80px;
    background-color: #4db7ac;
    color: white;
    padding: 13px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: bold;
}

input[type=submit]:hover {
    background-color: #2a635d;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(Preloader_3.gif) center no-repeat #869e9ab0;
  }

/*About*/
.about-container {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "block block1 block2" ;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2fr 2fr;
    margin-bottom: 15%
}

@media screen and (max-width: 750px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "block block1"
    "block2";
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-container {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-areas:
    "block"
    "block1"
    "block2";
  }
}

@supports not (display: grid) {
  .about-container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .blocks {
    flex: 1 1 100%;
  }
}

.block {
  text-align: center;
}

/* About the site*/
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

  }
  /*end of about site*/

footer {
   position:relative;
   text-align: center;
   bottom:0;
   width:100%;
/*   height:4%;    Height of the footer */
   margin-bottom: 2%;
}

footer p {
  text-align: center;
}
