h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #c4d5e0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #c4d5e0;
}

@keyframes wallpaper {
    0%   {background-color: #010121;}
    35%  {background-color: #1e0021;}
    75%  {background-color: #022323;}
    100% {background-color: #010121;}
}

body {
  background-color: #010121;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  animation-name: wallpaper;
  animation-duration: 30s;
  height: 100vh;
}

div .all_body {
  margin-top: 10%;
}


a {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #c4d5e0; 
}

p {
 color: #c4d5e0;
 font-size: 12pt;  
}

nav ul {
  list-style: none;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

#mapid { 
  min-height: 300px;
  height: 60%;
  width: 70%; 
  position: relative;
  }

/*About*/
.about-container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "block block1 block2" 
    "block3 block4 block5";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2fr 2fr;
}

@media screen and (max-width: 750px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "block block1"
    "block2 block3"
    "block4 block5";
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-container {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-areas:
    "block"
    "block1"
    "block2"
    "block3"
    "block4"
    "block5";
  }
}

@supports not (display: grid) {
  .about-container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .blocks {
    flex: 1 1 100%;
  }
}

.block {
  text-align: center;
}

/* About the site*/
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

  }
  /*end of about site*/


/*clara's css*/

/*html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}*/

/*.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}*/

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: red;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*html, footer {
background: #000000; color: #d3d3d3; }*/

/*#container {
   position:relative;
}
#header {
   background:#ff0;
   padding:3%;
}
#body {
   padding:3%;
   padding-bottom:3%;   /* Height of the footer */
/*}*/

footer {
   position:absolute;
   text-align: center;
   bottom:0;
   width:100%;
/*   height:4%;    Height of the footer */
   margin-bottom: 2%;
}

footer p {
  text-align: center;
}

/*end of clara's css*/