{% include "header.html" %}

<p>
  Searching for tweets including hashtag {{ searchterm }}.... 
</p>
<script> var query = '{{searchterm}}' </script>

<div> <h1> MAP here! </h1> </div>
  <div id="mapid" style="height: 500px; width: 70%; border: 1px solid #AAA;"></div>
   <!-- <script type='text/javascript' src="{{ url_for('static', filename='markers.js') }}"></script> -->
<!--    <script type="text/javascript"> 
          $.get("/api/tweets").done((data) => { 
            console.log(data); 
            var markers = data
          }); 
        </script> -->
  
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
