{% include "header.html" %}

<script> var query = '{{searchterm}}'
var numbertweets = '{{numbertweets}}'
</script>

<div> <h1> {{searchterm}}! </h1> </div>
  <div id="mapid" style="height: 500px; width: 70%; border: 1px solid #AAA;"></div>
   <!-- <script type='text/javascript' src="{{ url_for('static', filename='markers.js') }}"></script> -->
<!--    <script type="text/javascript">
          $.get("/api/tweets").done((data) => {
            console.log(data);
            var markers = data
          });
        </script> -->

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
