{% include "header.html" %}

  <form action="{{url_for('search')}}" method="post">
    <input type="text" placeholder="#" name="searchbox">
    <select class="js-example-basic-single" name="searchbox">
        <option value="#womenintech">#womenintech</option>
        <option value="#STEM">#STEM</option>
        <option value="#shefcodefirst">#ShefCodeFirst</option>
        <option value="WeAreTechWomen">#WeAreTechWomen</option>
    </select>
    <input type="submit" value="Search!">
    <!-- <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Search</button>
      <div name="Dropsearch" class="dropdown-content">
        <input type="text" placeholder="#" name="searchbox" onkeyup="filterFunction()">
        <a href="#WomenInTech">#womenintech</a>
        <a href="#STEM">#STEM</a>
        <a href="#ShefCodeFirst">#ShefCodeFirst/a>
      </div>
    </div> -->
  </form>




  <section>
      <ul class="nav navbar-nav">
        <li>
          <a href="{{url_for('home')}}">#womenintech</a>
        </li>
        <li>
          <a href="{{url_for('home')}}">#STEM</a>
        </li>
        <li>
          <a href="{{url_for('home')}}">#ShefCodeFirst</a>
        </li>
        <li>
          <a href="{{url_for('home')}}">#WeAreTechWomen</a>
        <li/>
      </ul>
  <section/>

  <div id="mapid" style="height: 500px; width: 500px;"></div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
