{% include "header.html" %}
  <!-- <h1>Hashtag map!</h1> -->

  <form class="search" action="/hashtags.py" method="POST">
    <input type="text" placeholder="#" name="searchbox" id = "name" value='{{ query }}' required >
    <input type="submit" value="Search!">
    <!-- <input type="search" placeholder="Search here..." name="searchbox" value='{{ query }}' required> -->

    <ul class="nav navbar-nav">
      <li>
        <a href="{{url_for('home')}}">#womenintech</a>
      </li>
      <li>
        <a href="{{url_for('home')}}">#STEM</a>
      </li>
      <li>
        <a href="{{url_for('home')}}">#ShefCodeFirst</a>
      </li>
      <li>
        <a href="{{url_for('home')}}">#WeAreTechWomen</a>
      <li/>
    </ul>
  </form>
</body>
</html>
