{% include "header.html" %}
  <!-- <h1>Hashtag map!</h1> -->

  <form class="search" action="/hashtags.py" method="get">
    <input type="text" placeholder="#" name="searchbox" id = "name" value='{{ query }}' required >
    <!-- <input type=""  -->
    <!-- <select id="Options">
        <option value="#womenintech">#womenintech</option>
        <option value="#STEM">#STEM</option>
        <option value="#shefcodefirst">#ShefCodeFirst</option>
        <option value="WeAreTechWomen">#WeAreTechWomen</option>
    </select>-->
    <input type="submit" value="Search!">

    <ul class="nav navbar-nav">
      <li>
        <a href="{{url_for('home')}}">#womenintech</a>
        <!-- 'home' links for now!! -->
      </li>
      <li>
        <a href="{{url_for('home')}}">#STEM</a>
      </li>
      <li>
        <a href="{{url_for('home')}}">#ShefCodeFirst</a>
      </li>
      <li>
        <a href="{{url_for('home')}}">#WeAreTechWomen</a>
      <li/>
    </ul>
  </form>
</body>
</html>
